h1{
    color: purple;text-align: center;background-color: aqua; border: solid rgba(27, 1, 1, 0.813);
}
.border{
    border: solid black 2px;
}
.img{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
#para{
    background-color: rgba(4, 116, 116, 0.838);
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.b{
    color: blanchedalmond; background-color: gray;
}
.k{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: darksalmon; 
}
.line{
    text-align: center;
    display: flex;
    justify-content: center;
    color: dimgrey;
    background-color: greenyellow;
}
.fa{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
.f{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: royalblue;
}
#song{
    text-align: center;
    background-color: darksalmon;
    border: solid tomato;
    margin: 5px 300px 5px 300px;
}
.yb{
    background-color: cyan;
    color: darkgray;
}
.biriyan{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: bisque;
}
H3{
    text-align: center;
}
.kala{
    width: 1070px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
}
h4{
    text-align: center;
}
.com{
    display: flex;
    text-align: center;
    justify-content: center;
}